/gradlew.bat
/*.iml
/key.properties
/local.properties
/gradlew

/app/src/debug/
/app/src/main/java/
/app/src/main/kotlin/
/app/src/main/res/
/app/src/profile/
!google-services.json
!/app/src/main/AndroidManifest.xml


/gradle/
gradle.properties

gradle-wrapper.jar
/.gradle
/captures/


# Never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
**/*.keystore
**/*.jks

*.class
.gradle

/.idea/workspace.xml
/.idea/libraries
.DS_Store

.flutter-plugins
.flutter-plugins-dependencies
.packages

/build
/captures
GeneratedPluginRegistrant.java
